---
extends: application.j2
default_block: help
title: woob bank
description: Console application able to list your bank accounts balances on supported websites and to see the expenses details, transfer money, etc.
short_description: List your bank accounts balances, their expenses, transfer money, etc.
capability: Bank
type: repl
category: console
---

### List accounts

Use this command:

<pre>bank&gt; list</pre>

For example:

<pre>bank&gt; list
                 Account                     Balance    Coming
------------------------------------------+----------+----------
 #1 (bnporc)     Compte de chèques           2161.30    -452.85
 #2 (bnporc)     Livret Jeune                1600.00       0.00
 #3 (ing)        Compte Titres               2542.00       0.00
------------------------------------------+----------+----------
                                    Total    6303.30    -452.85
</pre>

### Display history of an account

Use this command:

<pre>bank&gt; history &lt;# or ID&gt;</pre>

For example:

<pre>bank&gt; history 1
 Date         Category     Label                                                  Amount
------------+------------+---------------------------------------------------+-----------
 2012-03-02   Bank         COTISATION ESPRIT LIBRE                                 -3.25
 2012-03-01   Payback      CB DU 290112 SNCF INTERNET ISL                          90.00
 2012-03-01   Card         2012-02-02: WWW.HETZNER.DE CARTE 4974XXXXX             -49.00
 2012-03-01   Card         2012-02-16: LE PETIT CHATEL PARIS CARTE 49             -30.00
 2012-02-27   Withdrawal   2012-02-24 22:15: 00620017 CREDIT LYONNAIS             -40.00
 2012-02-27   Order        REGLEMENT IMPOT IR NUM 004022 ECH 27.02.              -658.00
 2012-02-08   Transfer     RECU TIERS POLE EMPLOI IDF 61 110 3988982B 0828011    1596.50
</pre>

### Display coming operations on an account

Similarly to the `history` command, for example:

<pre>bank&gt; coming 1
 Date         Category     Label                                                  Amount
------------+------------+---------------------------------------------------+-----------
 2012-04-02   Card         2012-03-01: RELAY 324251 PARIS 15                      -24.40
 2012-04-02   Card         2012-02-29: LE BMA PARIS CARTE 497                     -22.50
 2012-04-02   Card         2012-02-29: RATP PARIS CEDEX 1 CAR                     -49.80
 2012-04-02   Card         2012-02-24: CLIN VETERINAIR LA CEL                     -73.20
 2012-04-02   Card         2012-02-24: SNC LE RALLYE PARIS CA                     -24.40
 2012-04-02   Card         2012-02-24: CASA WILL-YANN PARIS C                     -20.50
</pre>

Not all banks have this feature.

### Transfer money

You can transfer money with this command:

<pre>bank&gt; transfer ACCOUNT [TO AMOUNT [REASON]]</pre>

For example:

<pre>bank&gt; transfer 1 2 50 test
------- Transfer 20101031@bnporc -------
Date:       2010-10-31 12:35:58.407272
Origin:     Compte de chèques
Recipient:  Livret jeune
Amount:     50.00</pre>

### Display value of your investments

Similarly to the `history` command, for example:

<pre>bank&gt; investment 3
 Label                           Code     Quantity   Unit Value  Valuation   diff
-------------------------------+--------+----------+-----------+-----------+--------
 ALSTOM REGROUPT                E:ALO          67       25.39     1700.80    -232.83
 AXA                            E:CS           40       17.12      685.00      81.00
 WPGBPUSD 1,6293 P. (J730Z)     P:J730Z       430        0.77      331.10     -47.30
-------------------------------+--------+----------+-----------+-----------+--------
                                          Total                   2716.90    -199.13
</pre>

## Use cases

### Reuse data in accounting software

To export your account information in a qif file (which can be imported in personal account manager like grisbi, homebank, etc.) you can use this command:

<pre>bank history 0125XXXXXXXXXXX@bnporc -f qif &gt; dump.qif</pre>

An plugin is available to import history directly in <a href="https://kmymoney.org/">KMyMoney</a> since version 4.8.0.

### Display accounts in Conky

You can add this line in `~/.conkyrc` to display an account and its balance every 3600 seconds:

<pre>$color${texeci 3600 bank list -f simple --no-keys --select label,balance --condition id=0837462379182736}</pre>

### Monitor accounts with Munin

[Munin](http://munin-monitoring.org/) is a tool to graph on web pages system status (for example CPU usage, network traffic, etc.).

*bank-munin* is a plugin to get accounts list and graph them into munin.

To use it, create on a munin node a symlink to *bank-munin* in the plugins directory:

<pre>$ ln -s /path/to/bank-munin /etc/munin/plugins/bank</pre>

Then, add this section in `/etc/munin/plugin-conf.d/munin-node`:

<pre>[bank]
user romain
group romain
# Useful for woob to find its config files.
env.HOME /home/romain/
# Monitored accounts. If this parameter is missing, all accounts
# will be displayed.
env.bank_monitored 0125XXXXXXXXXXXX@bnporc 0125XXXXXXXXXXXX@bnporc
# To prevent mass connections to bank websites, results are cached.
# You can set here the expiration delay (in seconds).
env.bank_cache_expire 3600
# If enabled, coming operations are added to the value of accounts'
# balance.
env.bank_add_coming 1</pre>

Restart *munin-node*, then a graph will appear:

![bank-munin example]({{ media_url('images/screenshots/bank-munin.png') }})
