---
extends: application.j2
default_block: help
title: woob contentedit
description: Console application able to manage and edit content on supported collaborative websites like wikis.
short_description: Manage and edit content on supported collaborative websites like wikis.
capability: Content
type: repl
category: console
---

### Edit a content

Usage:

<pre>contentedit&gt; edit ID1 [ID2 ...]</pre>

For example, with <a href="{{ content_url('modules.html') }}#mod_redmine">Redmine</a>:

<pre>contentedit&gt; edit wiki/woob/ContentEdit wiki/woob/Woob wiki/woob/Applications</pre>

Then, it opens the found contents in the editor defined in the environment variable `$EDITOR` (for example vim). You can do all changes, then exit it.

It displays all changed pages, and prompts you for an optional commit message. Then, if you confirm, it pushes all changes:

<pre>Contents changed:
 * wiki/woob/ContentEdit
 * wiki/woob/Applications
Enter a commit message: add contentedit
Do you want to push? (Y/n): y
Pushing wiki/woob/ContentEdit... done
Pushing wiki/woob/Applications... done</pre>
