---
extends: application.j2
default_block: help
title: woob gauge
description: Console application allowing to display gauges of various website (CityBikes, Weather information, river level, etc).
short_description: Display various gauges status.
capability: Gauge
type: repl
category: console
---

### Search a gauge

Search available gauge for a pattern:

<pre>boobcoming search garibaldi
 Name and ID                  Object     City       Sensors
----------------------------+----------+----------+---------------------------------
 3037 - PAUL BERT / GARIBALD bikes      Lyon       Rue Paul Bert
 3037.Lyon@jcvelaux                                Available bikes      4
                                                   Free stands          16
                                                   Total stands         20

 7003 - GAMBETTA / GARIBALDI bikes      Lyon       Cours Gambette - Prolongement rue
 7003.Lyon@jcvelaux                                Available bikes      19
                                                   Free stands          9
                                                   Total stands         30

 6021- GARIBALDI             bikes      Lyon       Entre rue Crillon et rue Sully
 6021.Lyon@jcvelaux                                Available bikes      1
                                                   Free stands          9
                                                   Total stands         11

 7011 - BERTHELOT / GARIBALD bikes      Lyon       Rue Garibaldi - Angle avenue Bert
 7011.Lyon@jcvelaux                                Available bikes      ?
                                                   Free stands          9
                                                   Total stands         10

 3015 - SERVIENT / GARIBALDI bikes      Lyon       Angle rue Garibaldi
 3015.Lyon@jcvelaux                                Available bikes      8
                                                   Free stands          8
                                                   Total stands         17

 3087 - PART-DIEU / GARIBALD bikes      Lyon
 3087.Lyon@jcvelaux                                Available bikes      14
                                                   Free stands          6
                                                   Total stands         20

 7062 - GARIBALDI / DOMER    bikes      Lyon
 7062.Lyon@jcvelaux                                Available bikes      1
                                                   Free stands          18
                                                   Total stands         19
</pre>

### Display all details

Additionnal informations for an event can be retrieved with the info command:

<pre>gauge details 3037.Lyon@jcvelaux
+------------------------------------------+-----------------+---------------+-----------+---------+-----------+-----------+-----------+
| Id                                       | Name            | Address       | Lastvalue | History | Gaugeid   | Longitude | Latitude  |
+------------------------------------------+-----------------+---------------+-----------+---------+-----------+-----------+-----------+
| available_bikes.3037.Lyon@jcvelaux       | Available bikes | Rue Paul Bert | 4         | []      | 3037.Lyon | 4.853405  | 45.757112 |
| available_bike_stands.3037.Lyon@jcvelaux | Free stands     | Rue Paul Bert | 16        | []      | 3037.Lyon | 4.853405  | 45.757112 |
| bike_stands.3037.Lyon@jcvelaux           | Total stands    | Rue Paul Bert | 20        | []      | 3037.Lyon | 4.853405  | 45.757112 |
+------------------------------------------+-----------------+---------------+-----------+---------+-----------+-----------+-----------+
</pre>

Each gauge has a list of sensors attached.

### Get history of the sensors

On some modules, a history is avaible for sensors:


<pre>gauge history 501010-level@sachsen
+--------------+-------+---------------------+
| Id           | Level | Date                |
+--------------+-------+---------------------+
| None@sachsen | 156.0 | 2014-01-14 14:00:00 |
| None@sachsen | 156.0 | 2014-01-14 13:45:00 |
| None@sachsen | 156.0 | 2014-01-14 13:30:00 |
| None@sachsen | 156.0 | 2014-01-14 13:15:00 |
| None@sachsen | 156.0 | 2014-01-14 13:00:00 |
| None@sachsen | 156.0 | 2014-01-14 12:45:00 |
| None@sachsen | 156.0 | 2014-01-14 12:30:00 |
| None@sachsen | 156.0 | 2014-01-14 12:15:00 |
| None@sachsen | 156.0 | 2014-01-14 12:00:00 |
| None@sachsen | 156.0 | 2014-01-14 11:00:00 |
| None@sachsen | 157.0 | 2014-01-14 10:00:00 |
| None@sachsen | 157.0 | 2014-01-14 09:00:00 |
| None@sachsen | 158.0 | 2014-01-14 08:00:00 |
| None@sachsen | 159.0 | 2014-01-14 07:00:00 |
| None@sachsen | 159.0 | 2014-01-14 06:00:00 |
| None@sachsen | 159.0 | 2014-01-14 05:00:00 |
| None@sachsen | 160.0 | 2014-01-14 04:00:00 |
| None@sachsen | 160.0 | 2014-01-14 03:00:00 |
+--------------+-------+---------------------+
</pre>
