---
extends: base.j2
default_block: main
title: Applications
description: Applications of woob
listable: false
---
<h1>Applications</h1>

{% from "applications.j2" import render_application with context %}

<h2>Graphical</h2>
<p>Graphical applications using the Qt toolkit.</p>
<ul class="application-list">
{% for res in resource.node.walk_resources_sorted_by_name_graphical() %}
    {{ render_application(res) }}
{% endfor %}
</ul>

<h2>Console</h2>
<p>Textual applications, both command-line and <abbr title="Read–eval–print loop">REPL</abbr>.</p>
<ul class="application-list">
{% for res in resource.node.walk_resources_sorted_by_name_console() %}
    {{ render_application(res) }}
{% endfor %}
</ul>


<h2>Daemon</h2>
<p>Applications meant to run in background.</p>
<ul class="application-list">
{% for res in resource.node.walk_resources_sorted_by_name_daemon() %}
    {{ render_application(res) }}
{% endfor %}
</ul>

{% for res in resource.node.walk_resources_sorted_by_name_nocat() %}
    UNCATEGORIZED <a href="{{ content_url(res.full_url) }}">{{ res.name }}</a></li>
{% endfor %}
