---
extends: application.j2
default_block: help
title: woob job
description: Console application able to search and display job announcements.
short_description: Search for a job.
capability: Job
type: repl
category: console
---

### Search a job

Use this command to search job offers on all loaded backends:

<pre>job&gt; search [PATTERN]</pre>

For example:

<pre>job&gt; search python django
 1 — offre d emploi ingenieur python django cdi h f (apec)
        Publication date : 2013-07-25
        Location: Sud de la France
        Society : COMPETENCE AVENUE
 2 — offre d emploi un ingenieur etude et developpement web python django turbogears confirme h f (apec)
        Publication date : 2013-01-08
        Location: Paris
        Society : GROUPE ESSLING
 3 — offre d emploi developpeur web h f (apec)
        Publication date : 2013-11-07
        Location: PARIS
        Society : SUNAPSIS
 4 — offre d emploi ingenieur developpement web h f (apec)
        Publication date : 2013-07-23
        Location: Paris
        Society : CVDM SOLUTIONS
 5 — offre d emploi ingenieur etude et developpement javascript h f (apec)
        Publication date : 2013-07-15
        Location: Lyon
        Society : SOLUTEC
 6 — offre d emploi developpeur web h f (apec)
        Publication date : 2013-06-08
        Location: Bordeaux Gradignan
        Society : PLANTES ET JARDINS
 7 — offre d emploi leader technique backend python h f (apec)
        Publication date : 2013-07-25
        Location: Paris
        Society : MILIBRIS
 8 — offre d emploi lead developpeur cto startup pour un site de reservation en ligne h f (apec)
        Publication date : 2013-07-25
        Location: Paris
        Society : URBAN LINKER
 9 — offre d emploi ingenieur c python django h f (apec)
        Publication date : 2013-07-29
        Location: Ile de France
        Society : (Confidentiel)
10 — offre d emploi developpeur python h f (apec)
        Publication date : 2013-09-08
        Location: Cachan
        Society : OSIRES
</pre>

_Note: You can configure backends to improve your search experience._

### More information about a job

See details of job offers with this command:

<pre>job&gt; info &lt;# or ID&gt;
job:/search> info 1
offre d emploi ingenieur python django cdi h f
url: http://cadres.apec.fr/offres-emploi-cadres/offres-emploi-cadres/0_0_0_47319144W________offre-d-emploi-ingenieur-python-django-cdi-h-f.html
Publication date : 2013-07-25
Location: Sud de la France
Society : COMPETENCE AVENUE
Job name : offre d emploi ingenieur python django cdi h f
Contract : CDI
                  (Cab/recrut)
Pay : Selon Profil
Experience : Tous niveaux d'expérience
Description :

          Ingénieur Python/Django/AngularJS  - Client Final en CDI
 
Pour une start-up en pleine évolution, vous prenez en charge les spécifications, le développement et les tests des applications de l'entreprise.
Vous faites également évoluez l'architecture de la plateforme directement avec le CTO, et assurez la disponibilité des données.
Projets ambitieux et haut niveau technique.
 
Environnement technique :- Python/Django
- JavaScript / AngularJS...
-PostgreSQL...
 
Vous possédez au moins 1 année d'expérience en développement Python, 
Localisation : Sud de la France
</pre>
