---
extends: application.j2
default_block: help
title: woob msg
description: Console application able to read (and send, if supported) public and private messages.
short_description: Read and post public and private messages.
capability: Messages
type: repl
category: console
---

### Post a message

You can post a message to someone with the `post` command:

<pre>msg&gt; post ID</pre>

Then, it asks you to enter the message content, then type *EOF* (`Ctrl-D`) to send it.

For example:

<pre>msg&gt;post 0612345678@sfr
Reading message content from stdin... Type ctrl-D from an empty line to post message.
Hi dear, can you buy some sugar? I'll stroke your little pussy tonight.
msg&gt;</pre>

### List messages

To get threads list, use:

<pre>msg&gt;list
* (1)     Promenades et Cartographie à Poitiers (dlfp)
             2010-12-01 10:10:13.000002
* (2)     OpenStreetMap : Cartopartie Accessibilité à Paris (dlfp)
             2010-12-01 08:30:06.000002
* (3)     Faire évoluer LinuxFr.org (dlfp)
             2010-11-30 09:53:42.000001
</pre>

Then, you can list messages of a thread with:

<pre>msg&gt; list 3
* (1) [--] <Bruno Michel> Concours : Faire évoluer LinuxFr.org (dlfp)
  * (2) [N-] <José JORGE> Effectivement (dlfp)
    * (3) [N-] <Bruno Michel> Re: Effectivement (dlfp)
      * (4) [N-] <JGO> Re: Effectivement (dlfp)
  * (5) [N-] < Nic0> Question sur les URL (dlfp)
    * (6) [N-] <Julien Wajsberg> Re: Question sur les URL (dlfp)
    * (7) [N-] < _seb_> Re: Question sur les URL (dlfp)
  * (8) [N-] <Clément Schreiner> J'ai bien une idée... (dlfp)
    * (9) [N-] <niconoe> Je suis peut-être optimiste mais... (dlfp)
    * (10) [N-] <Bruno Michel> Re: J'ai bien une idée... (dlfp)
</pre>

Displayed flags are:

* *N* is an unread message
* *U* is a message not delivered yet
* *R* is a delivered message

### Read a message

Use the `show` command:

<pre>msg&gt; show 2
Title: Effectivement
Date: 2010-11-30 10:25:00+00:00
From: José JORGE

Il faut du graphisme dans le nouveau site : il est pour l'instant assez
illisible. Pourquoi ne pas avoir gardé le style actuel, histoire de ne pas
accumuler les bugs lors de la migration?</pre>

## Use cases

### Send system alerts to your phone

Through setting up a cron task, you can send the result of a command to you phone by SMS, for example:

<pre>@daily rkhunter --report-warnings-only --cronjob | msg post 0612345678@bouygues -e</pre>

Every day, it will send the [rkhunter](http://rkhunter.sourceforge.net) report to your mobile phone.

Note that `-e` is used to avoid sending a message if the report is empty.
