---
extends: application.j2
title: woob paste
description: Console application able to post arbitrary text — though usually related to programming — and get the raw content of those posts, called "pastes".
short_description: Submit and get text (source code, backtraces) to pastebin-like websites.
capability: Paste
type: repl
category: console
---

{% block example %}
paste&gt; post /tmp/woob_is_awesome
Successfuly posted paste: http://pastebin.com/bJEpUbhB
paste&gt; get bJEpUbhB
woob is awesome
isn't it?

{% endblock %}

{% block help -%}
### Using the command line

<pre>$ woob paste post /tmp/woob_is_awesome
Successfuly posted paste: http://pastebin.com/S861ncWk </pre>

<pre>$ woob paste get S861ncWk
woob is awesome
isn't it?

</pre>

If the filename is `-` or empty, the contents will be read from stdout. It's useful to pipe from another program. For example:
<pre>$ tail error.log | woob paste post
Successfuly posted paste: http://pastebin.com/s5zzMrnX</pre>

{%- endblock help %}

