---
extends: application.j2
default_block: help
title: woob radio
description: Console application able to search for radios on supported websites, to get and play direct stream URLs, get current playing songs, etc.
short_description: Search for radios, and get direct stream URLs and current playing songs.
capability: Radio Audio
type: repl
category: console
---

### List radios

Usage:

<pre>radio&gt; ls [PATTERN]</pre>

Example:

<pre>radio&gt; ls
* (1) OUÏ FM Indé (ouifm)
   OUI FM - Rock Indé             (Current: CAT POWER - NAKED)
* (2) OUÏ FM Blues (ouifm)
   OUI FM - Blues                 (Current: GUITAR SLIM - THE THINGS THAT I USED TO D)
* (3) OUÏ FM Collector (ouifm)
   OUI FM - Classic Rock          (Current: FRANK ZAPPA - JOE'S GARAGE)
* (4) OUÏ FM Alternatif (ouifm)
   OUI FM - L'Alternative Rock    (Current: JIMMY EAT WORLD - HIGHER DEVOTION)
* (5) OUÏ FM (ouifm)
   OUI FM                         (Current: ROBERT FRANCIS - KEEP ON RUNNING)</pre>

### Get information about a radio

Usage:

<pre>radio&gt; info <# or ID></pre>

For example:

<pre>radio&gt; info 1
id: blues@ouifm
title: OUÏ FM Blues
description: OUI FM - Blues
current: ETTA JAMES - BALL AND CHAIN
streams: [128kbits/s (http://ouifm.ice.infomaniak.ch/ouifm4.mp3)]</pre>

### Play a radio stream

You can play the stream of a radio with a found player:

<pre>radio&gt; play <# or ID></pre>

Example:

<pre>radio&gt; play 1
Invoking "mplayer http://ouifm.ice.infomaniak.ch/ouifm4.mp3".</pre>

## Use cases

### Display the current song in Conky

You can add this line in `~/.conkyrc` to refresh current song on *OuiFM Blues* every 30 seconds:

<pre>$color${texeci 30 radio info blues@ouifm --select current --no-keys}</pre>
