---
extends: application.j2
default_block: help
title: woob travel
description: Console application able to show public transportation timetables on supported websites.
short_description: View public transportation timetables.
capability: Travel
type: repl
category: console
---

### Search for a station

Use this command:

<pre>travel&gt; stations PATTERN</pre>

For example:

<pre>travel&gt; stations paris
+---------------------+------------------------------------+
|          Id         |                Name                |
+---------------------+------------------------------------+
| CPA@transilien      | CORMEILLES EN PARISIS              |
| PMP@transilien      | PARIS MONTPARNASSE                 |
| VII@transilien      | VILLEPARISIS MITRY LE NEUF         |
| OCE87983940@canaltp | paris bastille                     |
| OCE87983619@canaltp | porte de paris                     |
| OCE87442442@canaltp | montauban prax paris               |
| OCE87547000@canaltp | gare de Paris-Austerlitz (75000)   |
| OCE87686667@canaltp | gare de Paris-Bercy (75000)        |
| OCE87113001@canaltp | gare de Paris-Est (75000)          |
| OCE87391003@canaltp | gare de Paris-Montparnasse (75000) |
| OCE87271007@canaltp | gare de Paris-Nord (75000)         |
| OCE87712133@canaltp | paris l''hopital (71150)           |
| OCE87686006@canaltp | gare de Paris-Gare-de-Lyon (75000) |
+---------------------+------------------------------------+
</pre>

### Display timetables

Usage:

<pre>travel&gt; depatures STATION_ID [ARRIVAL_ID]</pre>

Example:

<pre>travel&gt; departures OCE87113001@canaltp
+-----------+------------------+---------------------+-------------------+-----------------+----------+-----------------+
|     Id    |       Type       |         Time        | Departure station | Arrival station |   Late   |   Information   |
+-----------+------------------+---------------------+-------------------+-----------------+----------+-----------------+
| 0@canaltp | Corail Intercité | 2010-10-17 15:09:00 | gare de Paris-Est | Troyes          | 00:10:00 | Grèves SNCF;    |
| 1@canaltp | TGV              | 2010-10-17 15:24:00 | gare de Paris-Est | muenchen hbf    | 00:00:00 |                 |
| 2@canaltp | TGV              | 2010-10-17 16:09:00 | gare de Paris-Est | luxembourg      | 00:00:00 |                 |
| 3@canaltp | TGV              | 2010-10-17 16:12:00 | gare de Paris-Est | Nancy-Ville     | 00:00:00 |                 |
| 4@canaltp | TGV              | 2010-10-17 16:24:00 | gare de Paris-Est | Strasbourg      | 00:00:00 | Train supprimé; |
+-----------+------------------+---------------------+-------------------+-----------------+----------+-----------------+
</pre>

### Get a roadmap

Usage:

<pre>travel&gt; roadmap DEPARTURE ARRIVAL</pre>

Example:

<pre>
travel&gt; roadmap Puteaux Aulnay-sous-bois
+--------------+-------+------------+----------+------------------------------+---------------------------------------------+----------+
|      Id      |  Line | Start time | End time |          Departure           |                   Arrival                   | Duration |
+--------------+-------+------------+----------+------------------------------+---------------------------------------------+----------+
| 0@transilien | Train | 17:16:00   | 17:18:00 | GARE DE PUTEAUX ( Puteaux)   | LA DEFENSE [train] ( Puteaux)               | 0:02:00  |
| 1@transilien | RER A | 17:30:00   | 17:39:00 | LA DEFENSE [RER] ( Puteaux)  | CHATELET LES HALLES ( Paris)                | 0:09:00  |
| 2@transilien | RER B | 17:47:00   | 18:02:00 | CHATELET LES HALLES ( Paris) | GARE D'AULNAY SOUS BOIS ( Aulnay-sous-Bois) | 0:15:00  |
+--------------+-------+------------+----------+------------------------------+---------------------------------------------+----------+
</pre>

If you call it from the command-line, you can add one of these parameters:

* --departure-time
* --arrival-time

For example:

<pre>
$ woob travel roadmap Puteaux Versailles Rive Droite --arrival-time 20:00
+--------------+-------+------------+----------+---------------------------------+----------------------------------------------+----------+
|      Id      |  Line | Start time | End time |            Departure            |                   Arrival                    | Duration |
+--------------+-------+------------+----------+---------------------------------+----------------------------------------------+----------+
| 0@transilien | Train | 19:31:00   | 19:38:00 | GARE DE PUTEAUX ( Puteaux)      | GARE DE ST CLOUD ( Saint-Cloud)              | 0:07:00  |
| 1@transilien | Train | 19:45:00   | 19:59:00 | GARE DE ST CLOUD ( Saint-Cloud) | GARE DE VERSAILLES RIVE DROITE ( Versailles) | 0:14:00  |
+--------------+-------+------------+----------+---------------------------------+----------------------------------------------+----------+
</pre>
