---
extends: application.j2
default_block: help
title: woob weather
description: Console application able to display current weather on supported websites and to see forecasts.
short_description: Display current weather and to see forecasts.
capability: Weather
type: repl
category: console
---

### Looking for a city

Usage:

<pre>weather&gt; cities PATTERN</pre>

Example:

<pre>weather&gt; cities puteaux
* (1) Puteaux 92800 (meteofrance)</pre>

### Get current weather

Usage:

<pre>weather&gt; current &lt;# or ID&gt;</pre>

For example, you can use the number of the previous city search results:

<pre>weather&gt; current 1
Fri, 25 Mar 2011 12:59 pm CET: 19°C - Fair
</pre>

### Get forecasts

Usage:

<pre>weather&gt; forecasts &lt;# or ID&gt;</pre>

For example:

<pre>weather&gt; forecasts 1
* Aujourd'hui:    (2°C - 3°C) Pluie et neige mêlées
* Mardi 07:       (0°C - 4°C) Pluie et neige mêlées
* Mercredi 08:    (2°C - 4°C) Neige
* Jeudi 09:       (0°C - 3°C) Variable</pre>
