---
extends: base.j2
default_block: main
title: Web Outside of Browsers
description: Web Outside of Browsers
feeds:
 - {url: "https://woob.tech/news.atom",
    title: "Latest news"
   }
 - {url: "http://updates.woob.tech/stable/main/rss2.xml",
    type: "application/rss+xml",
    title: "Last update of modules"
   }
---

{% from "modules.j2" import render_popular_modules with context %}

<div class="columns first">
    <div class="box column" id="what">
        <h2><img src="/media/images/logo_32_green.png" alt="what"> What is woob</h2>
        <p>woob is a collection of applications able to interact with websites, without requiring the user to open them in a browser. It also provides well-defined APIs to talk to websites lacking one.</p>
    </div>

    <div class="box column" id="popular">
        <h2><img src="/media/images/logo_32_black.png" alt="popular"> Popular websites</h2>
        {{ render_popular_modules() }}
    </div>
</div>

<div class="columns second">
    <div class="box column" id="why">
        <h2><img src="/media/images/why.png" alt="why"> Why use woob</h2>
        <ul>
            <li>You get information <strong>faster</strong></li>
            <li>You can script around woob to <strong>automate</strong> tasks</li>
            <li>It <strong>extends</strong> websites features</li>
            <li>It helps blind people use crappy websites</li>
            <li>Reuse <strong>your favorite applications</strong>.</li>
        </ul>
    </div>

    <div class="box column" id="competition">
        <h2><img src="/media/images/competition.png" alt="competition"> What sets woob apart</h2>
        <ul>
            <li>Focus on <strong>quality</strong> applications, not just a limited script</li>
            <li>Not tied to a particular website, no need to learn many interfaces</li>
            <li><strong>Continuous integration</strong> notifies developers if a website has changed</li>
            <li>Graphical, textual, or programming <strong>interfaces</strong> for the same capabilities</li>
            <li>The <strong>update system</strong> allows pushing fixes quickly to end users</li>
            <li><strong><a href="https://www.budget-insight.com/">Professional usage</a></strong> is available.</li>
        </ul>
    </div>
</div>

<a id="getit" class="button green column" href="{{ content_url('install.html') }}"><span class="version">GET WOOB 2.0</span><span class="date">Released on Thursday 13 February 2020</span></a>

<div id="carousel-container">
<span class="prev">&lt;</span>
<div id="infinite-carousel" class="box">
  <ul class="panes">
    {% for name, app in carousel.applications -%}
    <li class="pane">
      <h2 style="background: url({{ media_url('images/applications/' + name + '.png') }}) no-repeat; background-size: 28px">
        {{ app.title }}
      </h2>
      <a href="{{ content_url('applications/'~name~'.html') }}">
        <img src="{{ media_url('images/screenshots/'~app.screenshot) }}" alt="{{ app.title }} screenshot" />
      </a>
      <p {{'class="column"' if app.column }}>{{ app.description }}</p>
    </li>
    {%- endfor %}
  </ul>
</div>
<span class="next">&gt;</span>
</div>

<div class="columns last">
    <div class="box column" id="tech">
        <h2><img src="/media/images/tech.png" alt="tech"> Technologies</h2>
        <ul>
            <li>woob is written in <a href="http://www.python.org/">Python</a></li>
            <li>It leverages, but is not limited to, <a href="http://docs.python-requests.org/">Requests</a> and <a href="http://lxml.de/">lxml</a></li>
            <li>Graphical applications use <a href="http://qt-project.org/">Qt</a></li>
            <li><a href="http://git-scm.com/">git</a> is used for collaboration</li>
            <li>It is distributed under the <a href="https://www.gnu.org/licenses/lgpl.html">LGPL</a> license</li>
            <li>Actively developed</li>
        </ul>
    </div>

    <div class="box column" id="contact">
        <h2><img src="/media/images/contact.png" alt="contact"> Contact</h2>
        <h3>Email</h3>
        <p>Send us an email at <a href="mailto:woob@woob.tech">woob@woob.tech</a>.</p>

        <h3>Mailing list</h3>
        <p>Subscribe to the <a href="http://lists.symlink.me/mailman/listinfo/weboob">mailing list</a> and
       read the older threads in the <a href="http://lists.symlink.me/pipermail/weboob/">archives</a>.</p>

        <h3>IRC</h3>
        <p>Join <a href="irc://chat.freenode.net/woob">#woob</a> on <a href="http://www.freenode.net/">Freenode</a>.</p>
    </div>
</div>

{% macro render_authors(side) -%}
        {% for entry in authors.entries['people'] -%}
		  <div class="author">
		    <div class="author_icon">
		       <img src="{{ entry.icon | e }}" alt="{{ entry.name }}">
		    </div>
		    <div class="author_info">
		       <a class="author_name" href="{{ entry.link | e }}">{{ entry.name | e }}</a>
		       <span class="author_commits">{{ entry.commits | e}} {% if entry.commits > 1 %}patches{% else %}patch{% endif %}</span>
		    </div>
		  </div>
        {%- endfor %}
{%- endmacro %}

<div class="box" id="organizations">
  <h2><img src="/media/images/organizations.png" alt="org"> Organizations</h2>
  <div>
    {% for entry in authors.entries['org'] -%}
      <a href="{{ entry.link | e }}"><img alt="{{ entry.name | e }}" src="{{ entry.icon | e }}" /></a>
    {%- endfor %}
  </div>
</div>

<div class="box" id="authors">
  <h2><img src="/media/images/authors.png" alt="contributors"> Contributors <span>{{ authors.entries['people']|length }}</span></h2>
  <div class="authors_list">
  {{ render_authors('left') }}
  </div>
</div>
