---
extends: base.j2
default_block: main
title: Modules
description: List of modules
feeds:
 - {url: "http://updates.woob.tech/stable/main/rss2.xml",
    type: "application/rss+xml",
    title: "Last update of modules"
   }
---

{% from "modules.j2" import render_modules, render_modules_icons with context %}

<h1>Modules</h1>

<p>A module is an interface between a website and woob.
Modules are stored in repositories and can be
updated without upgrading woob.</p>

<p>To check if there are new versions of modules, use this command:</p>

<pre class="highlight">$ woob config update</pre>

<p>By default, only the default repository is enabled.
You can add another one by editing the file
<code>~/.config/woob/sources.list</code>.</p>

<p>You can subscribe to the <a href="http://updates.woob.tech/stable/main/rss2.xml">RSS feed</a>
to know when there are new modules updates available.</p>

<h2>Add a backend</h2>

<p>woob applications need <em>backends</em> to interact with websites.
A <em>backend</em> is a configured <em>module</em>, usually with several
parameters like your username, password, or other options. You can create
multiple <em>backends</em> for a single <em>module</em>.</p>

<p>You can use a <a href="/applications/config">console application</a>
or a <a href="/applications/config-qt">graphical application</a>
to edit backends.</p>

<h2>Official modules</h2>

<div class="icon-wall">
{{ render_modules_icons() }}
</div>

<hr />

{{ render_modules() }}

<div class="global-actions">
<a id="hideshow" href="#">Display all module details</a>
</div>
